//FONTS
$font-primary: Calistoga, Arial, sans-serif;

@mixin respond($breakpoint) {
  @if $breakpoint == "laptop" {
    @media only screen and (max-width: 93.75em) {
      @content;
    }
  }
  @if $breakpoint == "laptop-sm" {
    @media only screen and (max-width: 75em) {
      @content;
    }
  }
  @if $breakpoint == "tab-lg" {
    @media only screen and (max-width: 71.875em) {
      @content;
    }
  }
  @if $breakpoint == "tab-md" {
    @media only screen and (max-width: 56.25em) {
      @content;
    }
  }
  @if $breakpoint == "phone" {
    @media only screen and (max-width: 25em) {
      @content;
    }
  }
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%; // 10px / 16px = 62.5%

  @include respond(laptop) {
    font-size: 50%;
  }

  @include respond(tab-md) {
    font-size: 42%;
  }
}

body {
  font-family: $font-primary;
}

//Typography
.heading--1 {
  font-size: 6rem;
  color: rgb(156, 156, 76);
  margin-bottom: 0.5rem;
  white-space: nowrap;

  @include respond(laptop-sm) {
    font-size: 4rem;
  }
  @include respond(tab-md) {
    font-size: 3rem;
  }
}

.heading--2 {
  font-size: 3rem;
  text-align: center;

  @include respond(laptop-sm) {
    font-size: 2.5rem;
  }
  @include respond(tab-md) {
    font-size: 2rem;
  }
}

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem);
  }

  80% {
    transform: translateX(1rem);
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem);
  }

  80% {
    transform: translateX(-1rem);
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes moveInUp {
  0% {
    opacity: 0;
    transform: translateY(10rem);
  }

  80% {
    transform: translateY(-1rem);
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes pop {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  70% {
    transform: scale(1.2);
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}
