.transparentBG {
  background-image: linear-gradient(
    140deg,
    rgba(246, 236, 221, 0.95) 0%,
    rgba(246, 236, 221, 0.95) 50%,
    rgba(227, 228, 181, 0.95) 50%
  );

  grid-column: 1 / -1;
  grid-row: 1 / 2;
  z-index: 1;

  display: grid;
  grid-template-rows: repeat(7, 1fr);
  grid-template-columns: repeat(8, 1fr);
  overflow: hidden;
}

.hero__img {
  grid-column: 5 / 9;
  grid-row: 1 / -1;

  animation: moveInLeft 1s ease-out;

  img {
    height: 105%;
    width: 71%;
  }
}

.header-text {
  grid-column: 2 / 4;
  grid-row: 3 / 6;
  display: flex;
  flex-direction: column;

  justify-self: center;
  z-index: 12;
  &__main {
    font-size: 5rem;
    animation: moveInLeft 1s ease-out;
  }

  &__text {
    font-size: 1.63rem;
    font-family: Arial, Helvetica, sans-serif;
    animation: moveInRight 1s ease-out;
    margin: 4rem 0;
  }

  &__button {
    width: 60%;
    padding: 2rem 4rem;
    border: none;
    border-radius: 5px;
    background-color: #9c9c4c;
    color: white;
    font-size: 1.5rem;
    font-weight: bolder;
    cursor: pointer;
    animation: moveInUp 1s ease-out;
  }

  &__button.not-first {
    margin-top: 4rem;
    background-color: rgb(209, 170, 139);
  }
}

.nav {
  grid-column: 1 / -1;
  grid-row: 1 / 2;

  display: grid;
  grid-template-columns: repeat(8, 1fr);
  align-self: start;
  align-items: center;
  gap: 2rem;

  &__logo {
    grid-column: 2 / 3;

    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    margin-left: 2rem;
    @include respond(tab-lg) {
      grid-column: 1 / 3;
    }
    svg {
      height: 8rem;
      width: 5rem;
    }
  }

  &__logo--name {
    display: inline-block;
    font-size: 2.5rem;
    margin-left: 1rem;
    margin-top: 0.5rem;
  }

  &__items {
    grid-column: 5 / 8;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    z-index: 10;

    @include respond(tab-lg) {
      grid-column: 3 / 8;
    }
    @include respond(tab-md) {
      grid-column: 4 / 9;
    }
  }

  &__item {
    list-style: none;
    height: 100%;
    font-size: 1.53rem;
    cursor: pointer;

    display: flex;
    justify-content: center;

    svg {
      width: 2rem;
      height: 2rem;
    }

    &:hover {
      text-decoration: underline;
    }
  }
}

.curvedSvg {
  grid-column: 1 / -1;
  grid-row: 7 / 8;
  width: 100%;
  height: 14rem;
  z-index: 5;
  transform: translateY(1rem);
  transition: all 0.5s;
}

.promote {
  grid-column: 4/10;
  grid-row: 2 / 3;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 4rem;

  @include respond(tab-lg) {
    margin-bottom: 12rem;
  }

  &__details {
    color: rgb(153, 151, 151);
    font-size: 1.75rem;
    text-align: center;
    margin-top: 4rem;
    line-height: 1.5;
  }
}

.features {
  &__col {
    grid-row: 3 /4;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    @include respond(tab-lg) {
      flex-direction: row;
      align-items: unset;
    }

    &-1 {
      grid-column: 2 / span 2;
      @include respond(tab-lg) {
        grid-column: 1 / -1;
        grid-row: 2 / 3;
        align-self: end;
      }
    }

    &-2 {
      grid-column: 10 / span 2;
      @include respond(tab-lg) {
        grid-column: 1 / -1;
        grid-row: 4 / 5;
        margin-top: 3rem;
      }
    }
  }

  &__video {
    grid-row: 3 /4;
    grid-column: 4 / span 6;
    height: 110%;
    align-self: center;
  }

  &__video-content {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 20px;
  }

  &__button {
    width: 100%;
    height: 6rem;
    border: none;
    background: white;
    border-radius: 10px;
    cursor: pointer;
    display: flex;
    align-items: center;
    background-color: #9c9c4c;
    color: white;

    @include respond(laptop-sm) {
      font-size: 1.38rem;
    }

    @include respond(tab-lg) {
      width: 20rem;
      margin: 0 2rem;
    }

    &-text {
      text-transform: uppercase;
      font-weight: bolder;
      margin-bottom: 0.32rem;
    }

    &-icon svg {
      width: 2rem;
      height: 2rem;
      fill: currentColor;
      margin: 0rem 2rem;
    }

    &:not(:last-of-type) {
      margin-bottom: 2rem;
    }
  }
}

.fruit {
  width: 8rem;
  height: 8rem;

  &__apple {
    grid-column: 4 / 5;
    grid-row: 3 / 4;
    align-self: end;
    transform: rotate(-20deg);
    animation: pop 1.52s ease-out;
  }

  &__banana {
    grid-column: 5/6;
    grid-row: 2/3;
    align-self: start;
    justify-self: start;
    transform: rotate(55deg);
    animation: pop 1.52s ease-out;
  }

  &__broccoli {
    grid-column: 4 / 5;
    grid-row: 5 / 6;
    align-self: end;
    justify-self: center;
    transform: rotate(55deg);
    animation: pop 1.52s ease-out;
  }

  &__watermelon--1 {
    grid-column: 7 / 8;
    grid-row: 4 / 5;
    align-self: end;
    justify-self: end;
    transform: rotate(-25deg);
    animation: pop 1.52s ease-out;
  }

  &__watermelon--2 {
    grid-column: 3 / 4;
    grid-row: 2 / 3;
    align-self: start;
    justify-self: center;
    transform: rotate(-215deg) scale(0.37);
    animation: pop 1.52s ease-out;
  }

  &__onion {
    grid-column: 7 / 8;
    grid-row: 2 / 3;
    align-self: end;
    justify-self: center;
    transform: rotate(215deg) scale(0.37);
    animation: pop 1.52s ease-out;
  }

  &__carrot--1 {
    grid-column: 5 / 6;
    grid-row: 3/ 4;
    align-self: center;
    justify-self: center;
    transform: rotate(-93deg) scale(0.37);
    animation: pop 1.52s ease-out;
  }

  &__carrot--2 {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    align-self: center;
    justify-self: end;
    animation: pop 1.52s ease-out;
  }

  &__garlic {
    grid-column: 3 / 4;
    grid-row: 6 / 7;
    align-self: end;
    justify-self: start;
    transform: rotate(25deg) scale(0.57);
    animation: pop 1.52s ease-out;
  }

  &__pumpkin {
    grid-column: 7 / 8;
    grid-row: 6 / 7;
    justify-self: center;
    align-self: end;
    transform: rotate(45deg);
    animation: pop 1.52s ease-out;
  }
}

.info__text--1 {
  grid-row: 4/6;
  grid-column: 2 / span 5;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;

  @include respond(tab-md) {
    grid-row: 5/6;
  }
}

.info__img--1 {
  grid-row: 4 / 6;
  grid-column: 7 / span 5;
  background-color: lightblue;
  overflow: hidden;
  border-radius: 50%;
  height: 90%;
  width: 79%;
  margin-left: 8rem;
  align-self: center;

  @include respond(laptop) {
    height: 67%;
  }

  @include respond(tab-lg) {
    margin-top: 10rem;
  }

  @include respond(tab-md) {
    grid-row: 5/6;
    margin-top: 6rem;
  }
}

.info__img--1 img {
  height: 102%;

  @include respond(laptop) {
    height: 102%;
    width: 101%;
  }

  @include respond(phone) {
    width: 90%;
  }
}

.info__text--2 {
  grid-row: 6/8;
  grid-column: 6 / span 6;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 13rem;
  width: 92%;
  margin-left: 5rem;
}

.info__img--2 {
  grid-row: 6/8;
  grid-column: 2 / span 5;
  background-color: #d0e6ad;
  overflow: hidden;
  border-radius: 50%;
  height: 71%;
  width: 75%;
  align-self: start;

  @include respond(laptop) {
    height: 75%;
  }
}

.info__img--2 img {
  width: 105%;
  height: 100%;
}

.footer {
  height: 25rem;
  grid-column: 1 / -1;
  background-color: rgb(66, 59, 59);
  display: grid;
  grid-template-columns: repeat(12, minmax(10rem, 1fr));
  grid-template-rows: repeat(2, 23rem);
  color: white;

  @include respond(tab-lg) {
    height: 42rem;
    grid-template-columns: repeat(12, minmax(7%, 1fr));
  }

  &__topic {
    margin-top: 4rem;
    justify-self: center;

    @include respond(tab-lg) {
      justify-self: start;
      margin-left: 5rem;
    }
  }

  &__header {
    font-size: 3rem;

    @include respond(laptop-sm) {
      font-size: 2rem;
    }
  }

  &__list {
    list-style: none;
    margin-top: 2rem;
    &--item {
      font-weight: lighter;
      font-size: 1.45rem;
      color: rgb(206, 203, 203);
      &:not(:first-of-type) {
        margin-top: 1rem;
      }
    }
  }

  &__about {
    grid-column: 2 / span 2;
    @include respond(tab-lg) {
      grid-column: 1 / span 4;
    }
  }

  &__career {
    grid-column: 4 / span 2;
    @include respond(tab-lg) {
      grid-column: 5 / span 3;
    }
  }

  &__business {
    grid-column: 6 / span 2;
    @include respond(tab-lg) {
      grid-column: 1 / span 4;
      grid-row: 2 / 3;
    }
  }

  &__order {
    grid-column: 8 / span 2;
    @include respond(tab-lg) {
      grid-column: 5 / span 3;
      grid-row: 2 / 3;
    }
  }

  &__logo {
    width: 80%;
    align-self: center;
    justify-self: start;
    grid-column: 10/-1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    @include respond(tab-lg) {
      grid-column: 9/-1;
      grid-row: 1 / span 2;
    }

    svg {
      height: 8rem;
      width: 5rem;
    }

    &-header {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

  &__logo .nav__logo--name {
    margin-left: 0.81rem;
    margin-top: 1.2rem;
  }
}
