.container {
  display: grid;
  grid-template-rows: minmax(57rem, 75vh) min-content min-content min-content min-content min-content min-content min-content;
  grid-template-columns: repeat(12, 1fr);
  gap: 3rem;

  @include respond(phone) {
    grid-template-columns: repeat(12, minmax(7rem, 1fr));
  }
}
